.timer{
   background-image:linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
   url(potatoabout.jpg);
    background-size: auto;
    background-size: 100% 100%;
}
.second{
    text-align:center;
    color: #FFF;
    text-shadow: 0 0 0.2em rgba(0,0,0,1);
    position:relative;
}