/*
.timer{
   background-image:linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
   url(potatoabout.jpg);
    background-size: auto;
    background-size: 100% 100%;
}
.second{
    text-align:center;
    color: #FFF;
    text-shadow: 0 0 0.2em rgba(0,0,0,1);
    position:relative;
}*/

/*
.clock{
    border-radius:50%;
    border:3px soild white;
    width:400px;
    height:400px;
    background:rgba(255,255,255,0.1);
    position:relative;
}


.lineHour{
    width:10px;
    height:150px;
    background:white;
    position:absolute;
    top:calc(50% - 150px);
    left:calc(50% - 5px);
    transform-origin:bottom;
}

.lineMin{
    width:4px;
    height:200px;
    background:white;
    position:absolute;
    top:calc(50% - 200px);
    left:calc(50% - 2px);
    transform-origin:bottom;
}

.lineSec{
    width:2px;
    height:200px;
    background:#cccccc;
    position:absolute;
    top:calc(50% - 200px);
    left:calc(50% - 1px);
    transform-origin:bottom;
}

.character{
    width:150px;
    height:150px;
    background:red;
}*/
/*
.rectangle{
background-image:linear-gradient(-135deg, #00aaff, #5500ff);
}

.rectangle.big-size{
background-image:linear-gradient(-135deg, red, #ff00a2);
}*/
/*
.scrollable-element{
    width:150px;
    height:150px;
    overflow-y: scroll;
}*/

/*
body{
    background-color: #f9f9f9;
}

body.theme-dark{
    background-color:#1e1e1e;
    color:#fff;
}*/

/*#weather strong{
    color:#d03939;
}*/

/*.rect {
    width:100px;
    transition:all 2s;
}
.rect.state-show{
    width: 400px;
}*/

@charset "UTF-8";
/*全体*/
.wrapper{
  max-width: 350px;
  margin: 0 auto;
  color: #666;
}
#header,#calc{
  box-sizing: border-box;
  text-align: center;
}
/*ヘッダー*/
#header {
  font-size: 24px;
  padding: 1rem;
}
/*テキスト*/
input{
  box-sizing: border-box;
  width: 75%;
  height: 3.5rem;
  font-size: 1.6rem;
  text-align: right;
  padding: 0 0.75rem;
}
/*ボタン関係*/
button{
  font-size: 18px;
  width: 25%;
  height: 3.5rem;
  color: #333;
  vertical-align: middle;
  border-color: #fff;
}
button:hover{
  background-color: #ddd;
}