/*
.timer{
   background-image:linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
   url(potatoabout.jpg);
    background-size: auto;
    background-size: 100% 100%;
}
.second{
    text-align:center;
    color: #FFF;
    text-shadow: 0 0 0.2em rgba(0,0,0,1);
    position:relative;
}*/

/*
.clock{
    border-radius:50%;
    border:3px soild white;
    width:400px;
    height:400px;
    background:rgba(255,255,255,0.1);
    position:relative;
}


.lineHour{
    width:10px;
    height:150px;
    background:white;
    position:absolute;
    top:calc(50% - 150px);
    left:calc(50% - 5px);
    transform-origin:bottom;
}

.lineMin{
    width:4px;
    height:200px;
    background:white;
    position:absolute;
    top:calc(50% - 200px);
    left:calc(50% - 2px);
    transform-origin:bottom;
}

.lineSec{
    width:2px;
    height:200px;
    background:#cccccc;
    position:absolute;
    top:calc(50% - 200px);
    left:calc(50% - 1px);
    transform-origin:bottom;
}
*/
.character{
    width:150px;
    height:150px;
    background:red;
}